build/**
builds/**
bin/gdpm
bin/gdpm.static
bin/gdpm.tests
docs/doxygen/html
docs/doxygen/latex
docs/doxygen/man
cache/**
tests/*
!tests/*.cpp
*/tmp/**
vgcore.*
.cache
.vscode
config.json
*.txt
actions-runner/
